.playvideo{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
}

@media (max-width:500px) {
    .playvideo{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}